In [1]:
# Probability of getting3 when a die is rolled 
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {3}
pa = na/ns # P(A)
print("probability of getting 3 is:",pa)

probability of getting 3 is: 0.16666666666666666

In [2]:
# probability of atleast getting one head when a coin is tossed thirce
ns = 8 #n(S) = {HHH,HHT,HTH,THH,TTT,TTH,THT,THH}
na = 7 # n(A) ={HHH,HHT,HTH,THH,TTT,THT,THH}
pa = na/ns # P(A)
print("probability of atleast getting one head is:",pa)

probability of atleast getting one head is: 0.875

In [3]:
# A glass jar conatains 5 red, 3 blue and 2 green jelly beans.
# If a jelly bean is chosen at random from the jar
# What is the probability that is not blue
ns = 10 #n(S) = {R,R,R,R,R,B,B,B,G,G}
na = 7 #n(A) = {R,R,R,R,R,G,G}
pa = na/ns # P(A)
print("probability of getting not a blue jelly is:",pa)

probability of getting not a blue jelly is: 0.7

In [5]:
# # If the probability that person A  will be alive in 20 years
# is 0.7 and the probability that person B will be alive in 
# 20 years is 0.5, what is the probability that they will 
# both be alive in 20 years?
# These are independent event so, 
P=0.7*0.5
print("probabilty that they will be alive after 20 years is:", P)

probabilty that they will be alive after 20 years is: 0.35

In [6]:
def event_probability(n,s):
    return n/s

In [7]:
# A fair die is tossed twice. Find the probability of getting 
# 4 or 5 on the first toss and a 1,2 or 3 in the second toss
pa = event_probability (2,6) # probability of getting a 4 or 5 on the first toss
pb = event_probability (3,6) # probability of getting 1,2,3 in second toss
P = pa*pb
print("probability of getting 4 or 5 on the first toss and a 1,2 or 3 in second toss is ",P )

probability of getting 4 or 5 on the first toss and a 1,2 or 3 in second toss is  0.16666666666666666

In [8]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles.
# In each draw, a marble is drawn from the bag 
# and not replaced. In three draws, fnd the probability of obtaining white,
# black and green in that order.
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("the probability of obtaining white, black and green in that order is ",pw,pb,pg)

the probability of obtaining white, black and green in that order is  0.5 0.3333333333333333 0.25

In [9]:
# Sample space 
cards = 52 
# Calculate the probability of drawing a heart or a club
hearts = 13 
clubs = 13
heart_or_club = event_probability(hearts,cards) + event_probability(clubs,cards)
print(heart_or_club)

0.5

In [10]:
# Calculate the probability of drawing an ace , king, or a queen
cards = 52
#Calculate the probability of drawing Ace, King or Queen
Ace = 4
Queen = 4
King = 4
Ace_King_or_Queen=event_probability(Ace,cards)+event_probability(King,cards)+event_probability(Queen,cards)
print(Ace_King_or_Queen)

0.23076923076923078

In [11]:
# calculate the probability of drawing heart or an ace
cards= 52
Ace = 4
Heart = 13
Ace_of_hearts = 1
heart_or_Ace=event_probability(Ace,cards)+event_probability(Heart,cards)-event_probability(Ace_of_hearts,cards)
print(round(heart_or_Ace,1))

0.3

In [12]:
# Calculate the probability of drawing red cards or face cards
cards = 52
Red_cards=26
Face_cards=12
Face_cards_of_red=6
Red_or_Face=event_probability(Red_cards,cards)+event_probability(Face_cards,cards)-event_probability(Face_cards_of_red,cards)
print(round(Red_or_Face,1))

0.6

In [13]:
# Probability of not getting 5 when a fair die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {5}
pa = na/ns # P(A)
print("probability of not getting 5 is :",1-pa)

probability of not getting 5 is : 0.8333333333333334

In [14]:
# Suppose you draw 2 cards from deck. You win if you get 
# ace given that you draw a jack in first draw
cards = 52
j=4 
ace=4
pj=event_probability(j,52)
pa=event_probability(ace,51)
pa_given_j=(pj*pa)/pj
print(pa_given_j)

0.0784313725490196

In [15]:
# conditional probability P(A/B)=P(A & B)/P(B)

import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/MSCIT/Downloads/student-mat - student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [16]:
len(df)

395

In [17]:
df['grade_A'] = np.where(df['G3']*5 >= 80 , 1, 0)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,0
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,0
5,GP,M,16,U,LE3,T,4,3,services,other,...,4,2,1,2,5,10,15,15,15,0
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,1,1,3,0,12,12,11,0
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,1,4,1,1,1,6,6,5,6,0
8,GP,M,15,U,LE3,A,3,2,services,other,...,2,2,1,1,1,0,16,18,19,1
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,1,1,1,5,0,14,15,15,0
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,1,2,2,0,10,8,9,0
11,GP,F,15,U,GT3,T,2,1,services,other,...,2,2,1,1,4,4,10,12,12,0
12,GP,M,15,U,LE3,T,4,4,health,services,...,3,3,1,3,5,2,14,14,14,0
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,3,1,2,3,2,10,10,11,0
14,GP,M,15,U,GT3,A,2,2,other,other,...,5,2,1,1,3,0,14,16,16,1
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,1,2,2,4,14,14,14,0
16,GP,F,16,U,GT3,T,4,4,services,services,...,2,3,1,2,2,6,13,14,14,0
17,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,1,4,4,8,10,10,0
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,2,4,5,16,6,5,5,0
19,GP,M,16,U,LE3,T,4,3,health,other,...,1,3,1,3,5,4,8,10,10,0
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,1,1,1,1,0,13,14,15,0
21,GP,M,15,U,GT3,T,4,4,health,health,...,4,2,1,1,5,0,12,15,15,0
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,5,1,1,3,5,2,15,15,16,1
23,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,2,4,5,0,13,13,12,0
24,GP,F,15,R,GT3,T,2,4,services,health,...,3,2,1,1,5,2,10,9,8,0
25,GP,F,16,U,GT3,T,2,2,services,services,...,2,2,1,3,5,14,6,9,8,0
26,GP,M,15,U,GT3,T,2,2,other,other,...,2,2,1,2,5,2,12,12,11,0
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,4,2,4,1,4,15,16,15,0
28,GP,M,16,U,LE3,A,3,4,services,other,...,3,3,1,1,5,4,11,11,11,0
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,5,5,5,5,16,10,12,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,4,2,4,3,4,10,10,10,0
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,2,2,2,2,5,0,13,13,13,0
367,MS,F,17,R,GT3,T,1,1,other,services,...,2,1,1,2,1,0,7,6,0,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,2,3,1,2,4,0,11,10,10,0
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,2,2,4,2,5,10,14,12,11,0
370,MS,F,19,U,LE3,T,3,2,services,services,...,2,2,1,1,3,4,7,7,9,0
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,3,3,2,3,3,3,14,12,12,0
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,4,3,1,1,3,8,13,11,11,0
373,MS,F,17,R,GT3,T,1,2,other,other,...,5,5,1,3,1,14,6,5,5,0
374,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,19,18,19,1
375,MS,F,18,R,GT3,T,1,1,other,other,...,3,2,1,2,4,2,8,8,10,0
376,MS,F,20,U,GT3,T,4,2,health,other,...,4,3,1,1,3,4,15,14,15,0
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,4,3,3,4,2,4,8,9,10,0
378,MS,F,18,U,GT3,T,3,3,other,other,...,1,3,1,2,1,0,15,15,15,0
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,5,4,2,3,1,17,10,10,10,0
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,2,4,1,4,2,4,15,14,14,0
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,3,1,3,5,5,7,6,7,0
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,3,1,1,3,2,11,11,10,0
383,MS,M,19,R,GT3,T,1,1,other,services,...,3,2,1,3,5,0,6,5,0,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,4,3,4,3,3,14,6,5,5,0
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,3,3,1,3,4,2,10,9,10,0
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,3,2,2,5,7,6,5,6,0
387,MS,F,19,R,GT3,T,2,3,services,other,...,4,2,1,2,5,0,7,5,0,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,3,4,1,1,1,0,7,9,8,0
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,5,0,6,5,0,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,0
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,1
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,0
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,11,12,10,0
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,0

In [18]:
df['high_absences'] = np.where(df['absences']>= 10 , 1, 0)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high_absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,2,15,14,15,0,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,4,6,10,10,0,0
5,GP,M,16,U,LE3,T,4,3,services,other,...,2,1,2,5,10,15,15,15,0,1
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,1,1,3,0,12,12,11,0,0
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,1,1,6,6,5,6,0,0
8,GP,M,15,U,LE3,A,3,2,services,other,...,2,1,1,1,0,16,18,19,1,0
9,GP,M,15,U,GT3,T,3,4,other,other,...,1,1,1,5,0,14,15,15,0,0
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,1,2,2,0,10,8,9,0,0
11,GP,F,15,U,GT3,T,2,1,services,other,...,2,1,1,4,4,10,12,12,0,0
12,GP,M,15,U,LE3,T,4,4,health,services,...,3,1,3,5,2,14,14,14,0,0
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,3,1,2,3,2,10,10,11,0,0
14,GP,M,15,U,GT3,A,2,2,other,other,...,2,1,1,3,0,14,16,16,1,0
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,1,2,2,4,14,14,14,0,0
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,1,2,2,6,13,14,14,0,0
17,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,1,4,4,8,10,10,0,0
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,2,4,5,16,6,5,5,0,1
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,5,4,8,10,10,0,0
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,1,1,1,1,0,13,14,15,0,0
21,GP,M,15,U,GT3,T,4,4,health,health,...,2,1,1,5,0,12,15,15,0,0
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,1,1,3,5,2,15,15,16,1,0
23,GP,M,16,U,LE3,T,2,2,other,other,...,4,2,4,5,0,13,13,12,0,0
24,GP,F,15,R,GT3,T,2,4,services,health,...,2,1,1,5,2,10,9,8,0,0
25,GP,F,16,U,GT3,T,2,2,services,services,...,2,1,3,5,14,6,9,8,0,1
26,GP,M,15,U,GT3,T,2,2,other,other,...,2,1,2,5,2,12,12,11,0,0
27,GP,M,15,U,GT3,T,4,2,health,services,...,4,2,4,1,4,15,16,15,0,0
28,GP,M,16,U,LE3,A,3,4,services,other,...,3,1,1,5,4,11,11,11,0,0
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,5,5,5,5,16,10,12,11,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,4,2,4,3,4,10,10,10,0,0
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,2,2,2,5,0,13,13,13,0,0
367,MS,F,17,R,GT3,T,1,1,other,services,...,1,1,2,1,0,7,6,0,0,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,3,1,2,4,0,11,10,10,0,0
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,2,4,2,5,10,14,12,11,0,1
370,MS,F,19,U,LE3,T,3,2,services,services,...,2,1,1,3,4,7,7,9,0,0
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,3,2,3,3,3,14,12,12,0,0
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,1,1,3,8,13,11,11,0,0
373,MS,F,17,R,GT3,T,1,2,other,other,...,5,1,3,1,14,6,5,5,0,1
374,MS,F,18,R,LE3,T,4,4,other,other,...,4,1,1,1,0,19,18,19,1,0
375,MS,F,18,R,GT3,T,1,1,other,other,...,2,1,2,4,2,8,8,10,0,0
376,MS,F,20,U,GT3,T,4,2,health,other,...,3,1,1,3,4,15,14,15,0,0
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,3,3,4,2,4,8,9,10,0,0
378,MS,F,18,U,GT3,T,3,3,other,other,...,3,1,2,1,0,15,15,15,0,0
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,2,3,1,17,10,10,10,0,1
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,4,1,4,2,4,15,14,14,0,0
381,MS,M,18,R,GT3,T,2,1,other,other,...,3,1,3,5,5,7,6,7,0,0
382,MS,M,17,U,GT3,T,2,3,other,services,...,3,1,1,3,2,11,11,10,0,0
383,MS,M,19,R,GT3,T,1,1,other,services,...,2,1,3,5,0,6,5,0,0,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,3,4,3,3,14,6,5,5,0,1
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,3,1,3,4,2,10,9,10,0,0
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,3,2,2,5,7,6,5,6,0,0
387,MS,F,19,R,GT3,T,2,3,services,other,...,2,1,2,5,0,7,5,0,0,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,1,1,1,0,7,9,8,0,0
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,5,0,6,5,0,0,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,4,4,5,4,11,9,9,9,0,1
391,MS,M,17,U,LE3,T,3,1,services,services,...,5,3,4,2,3,14,16,16,1,0
392,MS,M,21,R,GT3,T,1,1,other,other,...,3,3,3,3,3,10,8,7,0,0
393,MS,M,18,R,LE3,T,3,2,services,other,...,1,3,4,5,0,11,12,10,0,0
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,3,3,5,5,8,9,9,0,0

In [25]:
df['count']=1
df['count']

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
365    1
366    1
367    1
368    1
369    1
370    1
371    1
372    1
373    1
374    1
375    1
376    1
377    1
378    1
379    1
380    1
381    1
382    1
383    1
384    1
385    1
386    1
387    1
388    1
389    1
390    1
391    1
392    1
393    1
394    1
Name: count, Length: 395, dtype: int64

In [26]:
final=pd.pivot_table(
       df,
       values='count',
       index=['grade_A'],
       columns=['high_absences'],
       aggfunc=np.size,
       fill_value=0
)
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

In [27]:
final=pd.pivot_table(
      df,
      values='count',
      index=['grade_A'],
      columns=['high_absences'],
      aggfunc=np.size,
      fill_value=0
)
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

In [28]:
final=pd.pivot_table(
      df,
      values='count',
      index=['grade_A'],
      columns=['high_absences'],
      aggfunc=np.size,
      fill_value=0
)
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

In [32]:
total=final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1]
p_a=(final.iloc[1,0]+final.iloc[1,1])/total
p_a

0.10126582278481013

In [33]:
p_b=(final.iloc[0,1]+final.iloc[1,1])/total
p_b

0.21012658227848102

In [34]:
p_c=(final.iloc[1,1])/total
p_c

0.012658227848101266

In [35]:
p_d=p_c/p_b

p_d

0.060240963855421686